
html,body{
	margin: 0;
	padding:0;
}

table#t01{
    border: 0px solid rgb(255, 255, 255);
    border-collapse: collapse;
	text-align: center;
	padding:0px;
	font-size: 11px;
}
table#t02{
    border: 0px solid white;
    border-collapse: collapse;
	padding:0px;
}
table#t03{
    border: 0px solid white;
    border-collapse: collapse;
	text-align: center;
	padding:0px;
	font-size: 10.5px;
}

body{
	margin: auto;
	font-size: 13.2px;
	font-weight: 400;
	text-align: left;
	color: #333;
	background-color: rgba(35, 55, 59);
	border-radius: 15px 15px 0px 0px;
	margin-left:auto;
    margin-right:auto;
}


div#container{
	width: 800px;
	margin: auto;
	margin-top: 10px;
	border-top: 0px solid #999;
	border-bottom: 0px solid #999;
	border-left: 0px solid #999;
	border-right: 0px solid #999;
	background-color: rgb(35, 55, 59);
	margin-left: -350px; 
    margin-top: -200px; 
    position: absolute; left: 50%; top: 50%;
	
}

div#container2{
	width: 800px;
	margin: auto;
	margin-top: 10px;
	border-top: 0px solid #999;
	border-bottom: 0px solid #999;
	border-left: 0px solid #999;
	border-right: 0px solid #999;
	background-color: rgb(35, 55, 59);
	margin-left: -350px; 
    position: absolute; left: 50%;
	text-align: justify;
    text-justify: inter-word;
}

div#corpo{
	/* padding: 0.5em;*/
	letter-spacing: .01em; 
	font-weight: normal;
	background-color: rgb(35, 55, 59);
	color: white;
	width: 800px;
	margin: auto;
	margin-top: -15px;
	margin-bottom: 2px;
	margin-left: 15px;
}

/*stili header */

div#header{
	background-color:rgb(35, 55, 59);
	color: white;
	text-align: justify;
	line-height: 1.2;
	height:300px;
	width: 800px;
	margin: auto;
}

div#header a{
	text-decoration: none;
	/* color: #808080; */
	color: white;
}

div#header a:hover, a:active{
	text-decoration: none;
	color: #FF8000;
}


h1,h2{
	margin: 0;
	padding:0
}

h1{
	/* font-family: sans-serif; */
	margin-left: 0px;
	font-size: 2.5em;
	font-weight: bold;
	letter-spacing: .04em;
	word-spacing: .2em;
	text-align: justify;
}

h2{
	font-family: serif;
	font-style: italic;
	font-size: 1.2em;
	font-weight: normal;
}

h3{
	font-size: 1.1em;
	font-weight: bold;
	margin: 10px 0 0px;
}

h4{
	font-weight: bold;
	color: white;
}

h4{
	font-size: 1.1em;
	font-weight: normal;
	margin: 10px 0 0px;
	color:white;
}

div#footer{
	text-align: center;
	height: 150px;
	padding: 0.5em;
	background-color: rgb(35, 55, 59); 
	color: white;
	width: 800px;
	margin: 0 auto;
	font-size: 1em;
	margin-top: -6px;
	margin-bottom: 2px;
}



div#corpo a:hover, a:active{
	text-decoration: none;
	color: #FF8000;
}

div#container a{
	text-decoration: none;
	/* color: #808080; */

}

div#container a:hover, a:active{
	text-decoration: none;
	color: #FF8000;
	width: 800px;
}

div#container2 a{
	text-decoration: none;
	color: #FF8000;
	width: 800px;
}

div#container2 a:hover, a:active{
	text-decoration: none;
	color: #FF8000;
	width: 800px;
}

div#footer a{
	text-decoration: none;
	color: white;
	width: 800px;
}

div#footer a:hover, a:active{
	text-decoration: none;
	color: #FF8000;
	width: 800px;
}

div#navigation{
	background-color:rgb(35, 55, 59);
	font-size: 0.7em;
	text-align: center;
	margin-top: -35px;
  	text-transform: uppercase;
	width: 800px;
	height: 50px;
	vertical-align: middle;
	width: 800px;
}

div#navigation ul{
margin: 0;
padding: 0;
margin-top: 0px;
}

div#navigation li{
display: inline; 
margin: 0 0 0 1em;
padding: 0;
margin-top: 50px;
margin-bottom: 40px;
font-size: 1.5em;
font-weight: normal;
color: white;
}


div#navigation a{
color: white;
text-decoration: none
}

div#navigation a:hover{
color:#FF8000;
text-decoration: none;
}

div#navigation a#activelink{
text-decoration: none
}

img{
	border-radius: 5%;
}

